<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.admin.modules.sys.core.mapper.GeneralInfoMapper">
    <sql id="Base_general">
        t.id,
        t.surgical_num,
        t.patient_id,
        t.case_no,
        t.input_status,
        t.created_by,
        t.created,
        t.modified_by,
        t.modified,
        t.is_enable,
        t.is_del
    </sql>
    <select id="queryPage" resultType="com.spring.admin.modules.sys.core.model.entity.GeneralInfo">
        SELECT
        <include refid="Base_general"/>
        from general_info t
        WHERE 1=1
        <if test="query.surgicalNum != null and query.surgicalNum != ''">
            and t.surgical_num like concat('%',#{query.surgicalNum},'%')
        </if>
        <if test="query.patientId != null and query.patientId != ''">
            and  t.patient_id = #{query.patientId}
        </if>
        <if test="query.caseNo != null and query.caseNo != ''">
            and t.case_no like concat('%',#{query.caseNo},'%')
        </if>
        <if test="query.inputStatus != null and query.inputStatus != ''">
            and t.input_status = #{query.inputStatus}
        </if>
        <if test="query.isEnable != null">
            and t.is_enable = #{query.isEnable}
        </if>
        <if test="query.isDel != null">
            and t.is_del = #{query.isDel}
        </if>
        order by t.created desc
    </select>
</mapper>
